<!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
    上传文件
</button>
<!--Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form action="guidang" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">上传文件</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="fileid" name="fileid" placeholder="文件编号">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control"　id="filename" name="filename" placeholder="文件名称">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control"　id="filecategory" name="filecategory" placeholder="文件分类">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <input type="text" class="form-control"　id="filedocuments" name="filedocuments" placeholder="文件份数">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="filepages" name="filepages" placeholder="文件页数">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control"　id="responsibleperson" name="responsibleperson" placeholder="责任人">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="filetime" name="filetime" placeholder="文件时间 eg. 2016-09-20">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="confidentialitype" name="confidentialitype" placeholder="密级 eg. open or inner or secret or top secret">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="savetime" name="savetime" placeholder="保存时间 eg. forever or short time or long time">
                        </div>
                    </div>
                    <label for="InputFile">上传文件</label>
                    <input type="file" id="InputFile" name="inputfile">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">上传</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>